<div style="height: 600px; width: 100%;">
  <img style="height:100px;width:100%;" src="assets/img/contact_kv.png">
  <div style="margin-top:20px;flex-wrap: wrap" class="row">
    <div class="col-m-6 col-s-12">
      <img style="max-height:80%; max-width: 100%;" src="assets/img/map.png">
    </div>
    <div style="height:80%; margin:auto;" class="col-m-6 col-s-12">
      <div class="contact-item">销售电话：0086-13911829368</div>
      <div class="contact-item">服务热线：待定</div>
      <div class="contact-item">传真：待定</div>
      <div class="contact-item">邮箱：BJMFGR@sina.com</div>
      <div class="contact-item">地址：北京市昌平区沙阳路九号 沧海商务1楼116室</div>
      <div class="contact-item">官网：www.bjmfgr.cn</div>
    </div>
  </div>
</div>