<div class="headerBox">
  <span style="margin-left: 30%" class="dash clickable hoverEffect" routerLink="/dashboard">首页</span>
  <span class="dash clickable hoverEffect" routerLink="/aboutus">关于我们</span>
  <span class="dash clickable hoverEffect" routerLink="/productandservice">产品与服务</span>
  <span class="dash clickable hoverEffect" routerLink="/order">订单申请</span>
  <span class="dash clickable hoverEffect" routerLink="/dashboard">质量证明</span>
  <span class="dash clickable hoverEffect" routerLink="/contactus">联系我们</span>
  <span class="dash clickable hoverEffect" routerLink="/dashboard">注册/登录</span>
</div>