<div class="headerBox row">
    <button class="btn btn-primary col" [class.redcolor]="currentUrl == '/dashboard'" routerLink="/dashboard">首页</button>
    <button class="btn btn-primary col" [class.redcolor]="currentUrl == '/aboutus'" routerLink="/aboutus">关于我们</button>
    <button class="btn btn-primary col" [class.redcolor]="currentUrl == '/productandservice'" routerLink="/productandservice">产品与服务</button>
    <button class="btn btn-primary col" [class.redcolor]="currentUrl == '/order'" routerLink="/order">订单申请</button>
    <button class="btn btn-primary col" [class.redcolor]="currentUrl == '/zhiliangzhengming'" routerLink="/zhiliangzhengming">质量证明</button>
    <button class="btn btn-primary col" [class.redcolor]="currentUrl == '/contactus'" routerLink="/contactus">联系我们</button>
    <button class="btn btn-primary col" [class.redcolor]="currentUrl == '/login'" routerLink="/login">注册/登录</button>
</div>