.footerBox {
	height: 220px;
	background: #265ab9
}
.footerUl {
	height: 42px;
	line-height: 32px;
	margin-top: 8px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.footerNav {
	position: relative;
	float: left;
	left: 50%;
}
.footerNav li {
	float: left;
	position: relative;
    right: 50%;
    list-style : none !important;
}
.footerNav li a {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #fff;
}
.footerNav li a:hover {
	color: #ff0000;
}
.footerNav li span {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #fff;
	font-weight: bold;
	padding: 0px 10px;
}
.footer p {
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #fff;
}
.footer p a {
	color: #fff;
	font-size: 12px;
	font-family: "微软雅黑"
}
.footer p a:hover {
	color: #ff0000
}
.footerB {
	height: 40px;
	background: url("/assets/img/footerbj.png") no-repeat center;
	margin-top: 3px;
}
.margin {
	margin: 0 auto;
}
.overflow {
	overflow: hidden;
}
.w1002 {
	width: 1002px;
}