<div class="footerBox">
  <div class="footer w1002 margin overflow">
    <div class="footerUl">
      <ul class="footerNav">
        <li><a routerLink="/dashboard">首页</a></li>
        
        <li><span>|</span></li>
        <li><a routerLink="/aboutus">关于我们</a></li>
        
        <li><span>|</span></li>
        <li><a routerLink="/productandservice">产品与服务</a></li>
        
        <li><span>|</span></li>
        <li><a routerLink="/order">订单详情</a></li>
        
        <li><span>|</span></li>
        <li><a routerLink="/zhiliangzhengming">质量证明</a></li>
        
        <li><span>|</span></li>
        <li><a routerLink="/contactus">联系我们</a></li>
        
        <li><span>|</span></li>
        <li><a routerLink="/login">注册/登录</a></li>
        
      </ul>
    </div>
    <p class="footerP">Copyright © 2002-2018 北京铭丰广润商贸有限公司 版权所有</p>
    <p class="footerP">服务热线：0086-1391182936  传真：待定 邮箱：BJMFGR@sina.com</p>
    <p class="footerP">地址：北京市昌平区沙阳路九号沧海商务1楼116室 </p>
    <div class="footerB"> </div>
  </div>
</div>