<div class="swiper-container swiper-container-h">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img style="width:100%" src="assets/img/train.jpg"></div>
      <div class="swiper-slide"><img style="width:100%" src="assets/img/swiper-2.png"></div>
      <div class="swiper-slide"><img style="width:100%" src="assets/img/swiper-3.jpg"></div>
      <div class="swiper-slide"><img style="width:100%" src="assets/img/swiper-4.jpg"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-h"></div>
  </div>